xcuserdata/
.DS_Store
xcshareddata/swiftpm/Package.resolved
**/swiftpm/Package.resolved
*.swp
*.lock
.build*
Packages/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
DerivedData/
.netrc
.vscode/
*.xcodeproj/
.build/
Package.resolved
!SilveranKit/Package.resolved
.cache
icon*.png
XCodeWrapper/Info-iOS.plist
