xcuserdata/
.DS_Store
xcshareddata/swiftpm/Package.resolved
**/swiftpm/Package.resolved
*.swp
*.lock
.build*
LinuxApp/.cache-container/
LinuxApp/.cache-docker/
Packages/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
DerivedData/
.netrc
XCodeApps/Configs/Local.xcconfig
.vscode/
*.xcodeproj/
.build/
Package.resolved
!/Package.resolved
.cache
icon*.png
XCodeApps/Assets.xcassets/AppIcon.appiconset/*.png
XCodeApps/WatchAssets.xcassets/AppIcon.appiconset/*.png
XCodeApps/TVAssets.xcassets/**/*.png
XCodeApps/Info-iOS.plist
XCodeApps/Info-macOS.plist
XCodeApps/Info-tvOS.plist
XCodeApps/Info-watchOS.plist
!XCodeApps/Info-tvOS.plist
